body {
    margin: 0;
}

.navBar {
    background: #415068;
}

.navBar div {
    display: none;
}

.navBar .toggle,
.navBar .brand {
    display: inline-block;
}

.navBar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #223047;
    color: white;
}

.navBar .link:hover,
.navBar .link:active {
    color: #223047;
    background: white;
}

.navBar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navBar a {
    text-decoration: none;
}

.navBar .toggle {
    padding: 1em;
    color: black;
}

@media(min-width: 48em) {
    .navBar {
        display: flex;
    }

    .navBar div {
        display: flex;
    }

    .navBar .left,
    .navBar .right {
        display: flex;
        flex: 1;
    }

    .navBar .right {
        justify-content: flex-end;
    }

    .navBar .toggle {
        display: none;
    }

    .navBar .link {
        width: auto;
    }
}

@media( max-width: 48em) {
    .navBar.active .toggle {
        background: #223047;
        color: white;
    }

    .navBar .brand {
        text-align: left;
    }

    .navBar.active div {
        display: block;
    }
}