body {
    margin: 0;
}

.navBar {
    background: #415068;
}

.navBar div {
    display: none;
}

.navBar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #223047;
    color: white;
}

.navBar .link hover,
.navBar .link active {
    color: #223047;
    background: white;
}

.navBar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navBar a {
    text-decoration: none;
}

.navBar .toggle {
    padding: 1em;
    color: black;
}