body {
    margin: 0;
}

.navBar {
    background: #415068;
}

.navBar div {
    display: none;
}

.navBar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #223047;
    color: white;
}